.DS_Store
# Ignore executables
*.out
*.exe
MaxMin
BinarySearch
ReverseArray
SwapAlternate
FindDuplicates
IntersectionOfSortedArrays
UniqueOccurences
UniqueElement
PairSum
3Sum
Sort012
Sort01
FirstandLastOccurenceOfElement